*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules/
app/app-release.apk
app/libs/
app/src/androidTest/java/com/icyicarus/com/
app/src/main/res/values-w820dp/